<!-- ********************************************************** -->
<!-- about page for info about the dev team and the game itself -->
<!-- ********************************************************** -->
<div class="container">
	<div class="row">
		<!-- main header -->
		<h1 class="text-center" id="aboutHeader">About</h1>
	</div>
	<div class="row">
		<!-- developer section -->
		<h2 class="text-center" id="theDevelopers">The Developers</h2>
		<!-- about Yahya -->
		<div class="col-xs-12 col-md-4">
			<div class="row">
				<!-- yahya image -->
				<%= image_tag("Yahya.jpg", class: "img-responsive devPic img-circle center-block")%>
			</div>
			<div class="row">
				<!-- yahya name and info -->
				<h4 class="text-center devName">Yahya Hussein</h4>
				<div class="col-xs-8 col-xs-offset-2 col-md-10 col-md-offset-1">
					<p class="text-center devText">Yahya contributed to the back-end Ruby on Rails development on Ultimate True American, including getting the Facebook oAuth and the highly important beer tracker up and running. When he's not in front of a computer, he likes working out and eating.</p>
					<!-- yahya github and linkedin -->
					<h5 class="text-center devIcon"><a href="https://github.com/yahya09206"><i class="fa fa-github"></i></a> <a href="https://www.linkedin.com/in/yahya-hussein-2b774697"><i class="fa fa-linkedin"></i></a></h5>
				</div>	
			</div>
		</div>
		<!-- about Emma -->
		<div class="col-xs-12 col-md-4">
			<div class="row">
				<!-- emma image -->
				<%= image_tag("Emma.jpg", class: "img-responsive devPic img-circle center-block")%>
			</div>
			<div class="row">
				<!-- emma name and info -->
				<h4 class="text-center devName">Emma Brillhart</h4>
				<div class="col-xs-8 col-xs-offset-2 col-md-10 col-md-offset-1">
					<p class="text-center devText">Emma served as the project manager and repository maintainer for Ultimate True American, and did the front-end development and design. As a former politics major, she was thrilled to build an app that combines politics and drinking.</p>
					<!-- emma github and linkedin -->
					<h5 class="text-center devIcon"><a href="https://github.com/ebrillhart"><i class="fa fa-github"></i></a> <a href="https://www.linkedin.com/in/emmabrillhart"><i class="fa fa-linkedin"></i></a></h5>
				</div>
			</div>
		</div>
		<!-- about Tess -->
		<div class="col-xs-12 col-md-4">
			<div class="row">
				<!-- Tess image -->
				<%= image_tag("Tess.jpg", class: "img-responsive devPic img-circle center-block")%>
			</div>
			<div class="row">
				<!-- tess name and info -->
				<h4 class="text-center devName">Tess O'Brien</h4>
				<div class="col-xs-8 col-xs-offset-2 col-md-10 col-md-offset-1">
					<p class="text-center devText">Tess contributed to the back-end Ruby on Rails development for Ultimate True American, including working to get the Local Authorization and player addition wonderful and functional. She worked with easle.js to build the front-end map graphic. An avid comedy enthusiast, Tess is a fan of puns of all sorts - particularly the political.</p>
					<!-- tess github and linkedin -->
					<h5 class="text-center devIcon"><a href="https://github.com/tess323"><i class="fa fa-github"></i></a> <a href="https://www.linkedin.com/in/tess-o-brien-72581a72"><i class="fa fa-linkedin"></i></a></h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- game info section -->
		<h2 class="text-center" id="theGame">The Game</h2>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<!-- game description -->
				<p class="text-justify" id="gameAboutText">Ultimate True American is a mobile-first web app built on Ruby on Rails. Other technologies used include HTML5/CSS, Javascript/jQuery, Bootstrap, and oAuth for Facebook. Ultimate True American was inspired by the episode "Normal" from the show "New Girl", but is in no way affiliated with FOX Broadcasting Network.</p>
				<!-- link to source code -->
				<p class="text-center" id="sourceCode">Source Code:</p>
				<h5 class="text-center" id="sourceCodeIcon"><a href="https://github.com/ebrillhart/ultimate-true-american"><i class="fa fa-github"></i></a></h5>
			</div>
		</div>	
	</div>
</div>
