<!-- really cool landing page -->
<div id="homepageDiv">
	<div class="center-block" id="textBack">
		<h1 class="text-center" id="homeHeader1">Ultimate</h1>
		<h2 class="text-center" id="homeHeader2">True American</h2>
		<h2 class="text-center" id="homeSmall"><small>Inspired by FOX's "New Girl"</small></h2>
	</div>
</div>

<div class="container">
	<div class="row" id="buttonsDiv">
		<div class="col-xs-4 col-xs-offset-4">
			<a class="btn center-block" id="howToButton" href="#howTo">How-To</a>
		</div>
	</div>
	<div class="row" id="howTo">
		<div class="col-xs-12">
			<h1 id="howToHeader">How-To</h1>
		</div>
		<div class="col-xs-12 col-md-6">
			<h1 class="text-center howToIcon"><i class="fa fa-user-plus"></i></h1>
			<p class="howToText">Sign up for an account (you can use Facebook) in order to create games and access games that friends have added you to.</p>
		</div>
		<div class="col-xs-12 col-md-6">
			<h1 class="text-center howToIcon"><i class="fa fa-plus"></i></h1>
			<p class="howToText">Add friends that you want to play the game with. Players are added by username, so make sure that they have an account in order to have access to the game dashboard.</p>
		</div>
		<div class="col-xs-12 col-md-6">
			<h1 class="text-center howToIcon"><i class="fa fa-file-text-o"></i></h1>
			<p class="howToText"><a id="rulesLink" href="/rules">Read the rules</a> and follow or adapt them as your see fit. We've added three options for what to do during a turn, but feel free to come up with your own to make the game yours.</p>
		</div>
		<div class="col-xs-12 col-md-6">
			<h1 class="text-center howToIcon"><i class="fa fa-beer"></i></h1>
			<p class="howToText">Set up your game space, gather your materials (read: booze), and get ready to party like a True American!</p>
		</div>
	</div>
</div>
