<!-- all the rules, viewable by anyone, and they look dope -->
<div class="container">
	<div class="row">
		<!-- main rules header -->
		<h1 class="text-center" id="rulesHeader">Game Rules</h1>
		<!-- credit link -->
		<h1 class="text-center" ><small id="rulesHeaderSmall">Adapted from <a id="sourceLink" href="http://www.trueamericanrules.com">TrueAmericanRules.com</a></small></h1>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<!-- game summary -->
			<h3 class="text-center" id="rulesSummary">Players take turns trying to win moves in order to navigate the tables, chairs, and cushions which are their only escape from the molten lava floor. At the center of the game is a castle made of a bottle of liquor and many beers. As players traverse the game area, they remove beers and drink them. Once all of the beers have been removed, the first player to reach the bottle of liquor, finish their beer, and take a swig from the bottle wins the game.</h3>
		</div>
		<div class="col-xs-12">
			<!-- embedded youtube clip of game from New Girl -->
			<iframe class="center-block" width="420" height="315" src="http://www.youtube.com/embed/uyKYcNFUqe8">
			</iframe>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<!-- castle explanation -->
			<h2 class="rulesSectionHead">The Castle</h2>
				<p class="rulesText">The Castle is made up of one bottle of liquor and many cans of beer (6 cans per player). The liquor is the King and sits in the middle of the Castle. The cans of beer are the Pawns and the Soldiers of the Secret Order. The Pawns are lined up in four lines radiating outward from the King. These lines of Pawns also signify the barriers between each zone. The game ends when all of the Pawns have been removed and a player drinks from the King.</p>
			<!-- zones information -->
			<h2 class="rulesSectionHead">The Zones</h2>
				<p class="rulesText">There are four zones, each with five spaces where a player can stand. The center space in each zone is the only space where the Pawns can be taken and thus it is the closest space to the Castle. There are a total of four of these spaces. The spaces at the beginning and end of the zones are the farthest away from the Castle.</p>
			<!-- set up instructions -->
			<h2 class="rulesSectionHead">Setup</h2>
				<p class="rulesText">Before the game starts, determine how many beers you need (you can use the handy beer calculator on the game dashboard once you've added all your players!) and set up the Castle with those beers as the pawns. Using the lines of Pawns as barriers between the zones, designate each zone, making sure to have five spaces in each zone as described above.</p> 
				<p class="rulesText">When adding players on the player dashboard, you have the option to give players aliases. Preferably aliases are names of historic or popular figures from American history.</p>
			<!-- how to start the game -->
			<h2 class="rulesSectionHead">Starting the Game</h2>
				<p class="rulesText">After setup is complete, players may have a shotgun contest to determine who has the first turn. If nobody wants to shotgun, play rock-paper-scissors instead. To start the game, the winner of the contest yells "One, two, three, JFK!", to which the other players respond "FDR!", grab a Pawn from the Castle, and move to any space in the game area.</p>
				<br></br>
		 	<%= image_tag("true_american_canvas.png", class: "img-responsive center-block")%>
    	</div>
		<div class="col-xs-12 col-md-6">
			<!-- game play info -->
			<h2 class="rulesSectionHead">Gameplay</h2>
				<p class="rulesText">Players move around the game area in a clockwise direction. The player whose turn it is always moves one space; however, the other players must win their moves. The current player has three ways to provide the other players with ways to win their move.</p>
				<ul>
					<!-- the count -->
					<li class="rulesText"><strong>The Count:</strong> All players yell "One, two, three" and then either hold a number of fingers (between one and five) against their foreheads, or use "The Count" generator provided by the game and hold their phones to their heads. Anyone holding a number that no one else has chosen wins. Winners may move one spot.</li>
					<!-- complete a quote -->
					<li class="rulesText"><strong>Complete a Quote:</strong> Use the "quote" generator provided in the game to display the first half of a quote to read (alternately, you may come up with your own quote from history or pop culture). Any other player that is able to jump in and complete the quote in unison wins. Winners may move two spots.</li>
					<!-- commonality -->
					<li class="rulesText"><strong>Commonality:</strong> Using the commonality generator or coming up with your own, yell out two people, places, or things. Any other player that can reply with what these two things have in common wins. Winners may movethree spots.</li>
				</ul>
				<!-- more general gameplay info -->
				<p class="rulesText">Players must always have a beer in their hand and may not have more than three at any one time. Players may only take a Pawn from the Castle when they are in one of the four center spaces.</p>
				<p class="rulesText">When a player finishes their beer, the yell "All trash belongs..." and all other players yell "in the junk yard!" at which point empty cans are thrown into a designated receptacle. Also, whenever a player finishes a beer, they should track it by hitting the "finished a beer" button next to their name on the game dashboard.</p>
				<p class="rulesText">A player may yell "JFK" at any time, at which point everyone else must yell "FDR" and finish their beer.</p>
			<!-- winning -->
			<h2 class="rulesSectionHead">Winning</h2>
				<p class="rulesText">After all Pawns have been removed, the King is vulnerable. The first player to land on one of the center spaces, finish their beer, and take a swig from the King wins the game!</p>
			<!-- losing -->
			<h2 class="rulesSectionHead">Losing</h2>
				<p class="rulesText">If you are caught without a beer or with only an empty beer, you lose. If you step in molten lava (anywhere on the floor) you lose. To enter back into the game, drink one full beer and start on a space that the other players decide.</p>
		</div>
	</div>
</div>
