<!-- random number generator -->
<div class="container">
	<div class="row">
		<div class="center-block" id="theCount">
			<h1 class="text-center" id="countNumber"></h1>	
		</div>
	</div>
	<div class="row">
		<button class="btn center-block" id="countDashboard"><a href="/game/<%= session[:game_id] %>">Back to Dashboard</a></button>
	</div>	
</div>
