<!-- game index shows player usernames and their generated alias -->
<!-- has random number generator option for teams -->
<!-- start game button that takes user to game/show and starts game -->
<h1>Game#index</h1>
<p>Find me in app/views/game/index.html.erb</p>
