<!-- form that allows user/game creator to add game title, optional description, # of players, and user names of up to 10 players -->
<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h1 class="text-center" id="newGameHeader">Create a New Game</h1>
		</div>	
	</div>
	<div class="row">
		<%= bootstrap_form_for @game, url: players_path do |f| %>
		  	<%= f.text_field :title %>
		  	<%= f.text_field :description %>

		  	<%= f.primary %>
		<% end %>	
	</div>
</div>
