<!-- dashboard of current game with players/aliases, and number of beers they've finished along with a button for taking a turn AND a beer button, delete button for players -->
<h1>Game#show</h1>
<p>Find me in app/views/game/show.html.erb</p>
