<!-- user profile with create game option and join game option if they've been added and a list of the past games they've created or participated in -->
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
