<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h1 class="text-center" id="errorHeader1">Whoops!</h1>
			<h3 class="text-center" id="errorHeader2">Sorry, there's been an error.</h3>
			<p class="text-center" id="errorText">You may not have access to this page, or you may be trying to reach a page that doesn't exist. Please log in to access your profile and games, or try a different page. If you think you've received this message by mistake, please <a href="/about" id="errorLink">contact us.</a>
			</p>
		</div>
	</div>
</div>
