 /* Smartphones (portrait and landscape) ----------- */
 
 @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
     /****************/
     /* Landing Page */
     /****************/
     #homeHeader1 {
         font-size: 17rem;
     }
     #homeHeader2 {
         font-size: 8.5rem;
     }
     #homeSmall {
         font-size: 6rem;
     }
     #howTo {
         margin-top: 700px;
         margin-bottom: 30px;
     }
     #homepageDiv {
         height: 700px;
         margin-top: -20px;
         padding-top: 450px;
     }
     #buttonsDiv {
         margin-top: 175px;
     }
     #howToButton {
         background-color: #FF6A68;
         color: white;
         font-size: 4.5rem;
         margin-top: 50px;
         padding: 20px;
     }
     #textBack {
         background-color: rgba(255, 255, 255, 0.5);
         width: 60%;
         padding: 30px;
         border: 1px solid white;
     }
     #homepageDiv h1 {
         vertical-align: middle;
     }
     #howToHeader {
         font-size: 8.5rem;
         font-weight: bold;
     }
     .howToIcon {
         font-size: 6rem;
     }
     .howToText {
         font-size: 3.5rem;
     }
     #copyright {
         font-size: 0.8rem;
     }
     /**************/
     /* rules page */
     /**************/
     #rulesHeader {
         font-size: 12rem;
         font-weight: bold;
     }
     #rulesHeaderSmall {
         font-size: 4.5rem;
     }
     #rulesSummary {
        font-size: 3.5rem;
     }
     .rulesSectionHead {
        font-size: 5rem;
     }
     .rulesText {
        font-size: 2.5rem;
     }
     /****************/
     /* profile page */
     /****************/
     #profileHeader {
         font-size: 8rem;
         margin-top: 60px;
         color: #FF6A68;
         font-weight: bold;
     }
     #yourGames {
         margin-top: 150px;
         font-size: 4.5em;
         color: #FF6A68;
         font-weight: bold;
     }
     .navbar-default {
         padding-top: 30px;
         padding-bottom: 30px;
         font-size: 3rem;
         width: 100%;
     }
     .navbar-default .navbar-brand {
         font-size: 4rem;
     }
     #gamesCreator, #gamesPlayer {
         font-size: 4rem;
         font-weight: bold;
     }
     #newGameBtn {
         margin-top: 75px;
         padding-top: 60px;
         padding-bottom: 60px;
         font-size: 3rem;
         font-weight: bold;
         background-color: #3BB1F7;
         color: white;
     }
     /************/
     /* New Game */
     /************/
     #createGameBtn {
         font-size: 3rem;
         padding: 15px;
         margin-top: 30px;
     }
     #newGameHeader {
         font-size: 8rem;
         font-weight: bold;
     }
     label {
         font-size: 4rem;
         font-weight: bold;
     }
     .form-control {
         font-size: 3rem;
         height: 60px;
     }
     /******************/
     /* Game Dashboard */
     /******************/
     #gameTitle, #playersHeader {
         font-size: 7rem;
         font-weight: bold;
     }
     #playersHeader {
        margin-top: 50px;
     }
     #gameDescription {
         font-size: 5rem;
     }
     #playerCount {
        font-size: 4rem;
     }
     #beerCalculator, #takeTurn, #gameOver {
         font-size: 3rem;
         padding: 30px;
         font-weight: bold;
         margin-top: 15px;
         margin-left: -15px;
     }
     #addPlayerBtn, #playerDelete, #beerDone {
         font-size: 3rem;
         padding: 30px;
         font-weight: bold;
     }
     #alias {
        font-size: 5rem;
     }
     #consumed {
        font-size: 4rem;
     }
     /******************/
     /* Turn Dashboard */
     /******************/
     #turnHeader {
         font-size: 9rem;
         font-weight: bold;
     }
     #commonalitiesBtn, #quoteBtn, #theCountBtn {
         font-size: 4rem;
         padding: 45px;
         font-weight: bold;
         margin-top: 40px;
         text-align: center;
     }
     /********************/
     /* Commonality Page */
     /********************/
     #commonalityHeader {
         font-size: 6rem;
         font-weight: bold;
         margin-bottom: 70px;
     }
     #commonalityShow {
         font-weight: bold;
         font-size: 3.5rem;
         padding: 35px;
         margin-top: 40px;
         margin-bottom: 45px;
     }
     #commonalityDashboard {
         font-weight: bold;
         font-size: 3.5rem;
         padding: 35px;
         margin-top: 40px;
         margin-bottom: 60px;
     }
     #commonality1, #commonality2, #commonalityAnswer {
         font-size: 4rem;
         font-weight: bold;
     }
     /**************/
     /* Quote Page */
     /**************/
     #quoteHeader {
         font-size: 8rem;
         font-weight: bold;
         margin-bottom: 70px;
     }
     #quoteAnswer {
         font-weight: bold;
         font-size: 3.5rem;
         padding: 35px;
         margin-top: 40px;
         margin-bottom: 45px;
     }
     #quoteDashboard {
         font-weight: bold;
         font-size: 3.5rem;
         padding: 35px;
         margin-top: 40px;
         margin-bottom: 60px;
     }
     #firstHalf, #secondHalf {
         font-size: 4rem;
         font-weight: bold;
     }
     /******************/
     /* The Count Page */
     /******************/
     #countNumber {
         font-size: 70rem;
         margin-top: 300px;
     }
     #countDashboard {
         font-weight: bold;
         font-size: 3.5rem;
         padding: 35px;
         margin-top: 40px;
         margin-bottom: 60px;
     }
     /**************/
     /* About Page */
     /**************/
     #aboutHeader {
         font-size: 13rem;
         font-weight: bold;
     }
     .devName {
         font-size: 4.5rem;
         margin-top: 15px;
     }
     #theDevelopers, #theGame {
         font-size: 6rem;
         font-weight: bold;
     }
     .devText, #gameAboutText, #sourceCode {
         font-size: 3rem;
     }
     #sourceCode {
         font-weight: bold;
     }
     .devIcon, #sourceCodeIcon {
         word-spacing: 30px;
         font-size: 5rem;
         margin-bottom: 40px;
     }
 }
 /* iPads (portrait and landscape) ----------- */
 
 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
     /* Styles */
     /****************/
     /* Landing Page */
     /****************/
     #homeHeader1 {
         font-size: 15rem;
     }
     #homeHeader2 {
         font-size: 7rem;
     }
     #homeSmall {
         font-size: 5rem;
     }
     #howTo {
         margin-top: 700px;
         margin-bottom: 30px;
     }
     #homepageDiv {
         height: 700px;
         margin-top: -20px;
         padding-top: 450px;
     }
     #buttonsDiv {
         margin-top: 175px;
     }
     #howToButton {
         background-color: #FF6A68;
         color: white;
         font-size: 2.5em;
     }
     #textBack {
         background-color: rgba(255, 255, 255, 0.5);
         width: 60%;
         padding: 30px;
         border: 1px solid white;
     }
     #homepageDiv h1 {
         vertical-align: middle;
     }
     #howToHeader {
         font-size: 7.5rem;
         font-weight: bold;
     }
     .howToIcon {
         font-size: 6rem;
     }
     .howToText {
         font-size: 3rem;
     }
     #copyright {
         font-size: 0.8rem;
     }
     /**************/
     /* rules page */
     /**************/
     #rulesHeader {
         font-size: 10rem;
         font-weight: bold;
     }
     #rulesHeaderSmall {
         font-size: 4rem;
     }
     /****************/
     /* profile page */
     /****************/
     #profileHeader {
         font-size: 8rem;
         margin-top: 60px;
         color: #FF6A68;
         font-weight: bold;
     }
     #yourGames {
         margin-top: 150px;
         font-size: 4.5em;
         color: #FF6A68;
         font-weight: bold;
     }
     .navbar-default {
         padding-top: 30px;
         padding-bottom: 30px;
         font-size: 2rem;
     }
     .navbar-default .navbar-brand {
         font-size: 3rem;
     }
     #gamesCreator, #gamesPlayer {
         font-size: 4rem;
         font-weight: bold;
     }
     #newGameBtn {
         margin-top: 75px;
         padding-top: 60px;
         padding-bottom: 60px;
         font-size: 3rem;
         font-weight: bold;
         background-color: #3BB1F7;
         color: white;
     }
     /************/
     /* New Game */
     /************/
     #createGameBtn {
         font-size: 3rem;
         padding: 15px;
         margin-top: 30px;
     }
     #newGameHeader {
         font-size: 8rem;
         font-weight: bold;
     }
     label {
         font-size: 4rem;
         font-weight: bold;
     }
     .form-control {
         font-size: 3rem;
         height: 60px;
     }
     /******************/
     /* Game Dashboard */
     /******************/
     #gameTitle, #playersHeader {
         font-size: 5rem;
         font-weight: bold;
     }
     #gameDescription {
         font-size: 3.5rem;
     }
     #beerCalculator, #takeTurn, #gameOver {
         font-size: 1.5rem;
         padding: 15px;
         font-weight: bold;
         margin-top: 15px;
         margin-left: -15px;
     }
     #addPlayerBtn, #playerDelete, #beerDone {
         font-size: 1.5rem;
         padding: 15px;
         font-weight: bold;
     }
     /******************/
     /* Turn Dashboard */
     /******************/
     #turnHeader {
         font-size: 9rem;
         font-weight: bold;
     }
     #commonalitiesBtn, #quoteBtn, #theCountBtn {
         font-size: 3rem;
         padding: 35px;
         font-weight: bold;
         margin-top: 40px;
         text-align: center;
     }
     /********************/
     /* Commonality Page */
     /********************/
     #commonalityHeader {
         font-size: 6rem;
         font-weight: bold;
         margin-bottom: 70px;
     }
     #commonalityShow {
         font-weight: bold;
         font-size: 3rem;
         padding: 25px;
         margin-top: 40px;
         margin-bottom: 45px;
     }
     #commonalityDashboard {
         font-weight: bold;
         font-size: 3rem;
         padding: 25px;
         margin-top: 40px;
         margin-bottom: 60px;
     }
     #commonality1, #commonality2, #commonalityAnswer {
         font-size: 3rem;
     }
     /**************/
     /* Quote Page */
     /**************/
     #quoteHeader {
         font-size: 8rem;
         font-weight: bold;
         margin-bottom: 70px;
     }
     #quoteAnswer {
         font-weight: bold;
         font-size: 3rem;
         padding: 25px;
         margin-top: 40px;
         margin-bottom: 45px;
     }
     #quoteDashboard {
         font-weight: bold;
         font-size: 3rem;
         padding: 25px;
         margin-top: 40px;
         margin-bottom: 60px;
     }
     #firstHalf, #secondHalf {
         font-size: 3rem;
     }
     /******************/
     /* The Count Page */
     /******************/
     #countNumber {
         font-size: 40rem;
         margin-top: 350px;
     }
     #countDashboard {
         font-weight: bold;
         font-size: 3rem;
         padding: 25px;
         margin-top: 40px;
         margin-bottom: 60px;
     }
     /**************/
     /* About Page */
     /**************/
     #aboutHeader {
         font-size: 13rem;
         font-weight: bold;
     }
     .devName {
         font-size: 4.5rem;
         margin-top: 15px;
     }
     #theDevelopers, #theGame {
         font-size: 6rem;
         font-weight: bold;
     }
     .devText, #gameAboutText, #sourceCode {
         font-size: 3rem;
     }
     #sourceCode {
         font-weight: bold;
     }
     .devIcon, #sourceCodeIcon {
         word-spacing: 30px;
         font-size: 5rem;
         margin-bottom: 40px;
     }
 }
 /************************************/
 /************************************/
 /* Desktops and laptops ----------- */
 /************************************/
 /************************************/
 
 @media only screen and (min-width: 1224px) {
     /****************/
     /* Landing Page */
     /****************/
     .navbar-default {
         padding-top: 10px;
         padding-bottom: 10px;
         font-size: 1.75rem;
     }
     .navbar-default .navbar-brand {
         font-size: 2.5rem;
     }
     #homeHeader1 {
         font-size: 15rem;
     }
     #homeHeader2 {
         font-size: 6rem;
     }
     #homeSmall {
         margin-top: 0px;
         padding-top: 0px;
     }
     #howTo {
         margin-top: 250px;
         margin-bottom: 40px;
     }
     #homepageDiv {
         height: 300px;
         margin-top: -20px;
         padding-top: 75px;
     }
     #buttonsDiv {
         margin-top: 150px;
     }
     #howToButton {
         background-color: #FF6A68;
         color: white;
         font-size: 1.75em;
         width: 60%;
     }
     #homepageDiv h1 {
         vertical-align: middle;
     }
     #howToHeader {
         font-size: 7.5rem;
         font-weight: bold;
     }
     .howToIcon {
         font-size: 6rem;
     }
     .howToText {
         font-size: 2rem;
     }
     #copyright {
         font-size: 1.5rem;
     }
     /**************/
     /* Rules Page */
     /**************/
     #rulesHeader {
         font-size: 11rem;
         font-weight: bold;
     }
     #rulesHeaderSmall {
         font-size: 3rem;
     }
     .rulesSectionHead {
         font-size: 3rem;
     }
     .rulesText {
         font-size: 1.75rem;
     }
     /****************/
     /* profile page */
     /****************/
     #profileHeader {
         font-size: 13rem;
         margin-top: 60px;
         color: #FF6A68;
         font-weight: bold;
     }
     #yourGames {
         margin-top: 200px;
         font-size: 7em;
         color: #FF6A68;
         font-weight: bold;
     }
     #gamesCreator, #gamesPlayer {
         font-size: 4rem;
         font-weight: bold;
     }
     #newGameBtn {
         margin-top: 75px;
         padding: 60px 20px 60px 20px;
         font-size: 3rem;
         font-weight: bold;
         background-color: #3BB1F7;
         color: white;
     }
     /************/
     /* New Game */
     /************/
     #createGameBtn {
         font-size: 2rem;
         padding: 10px;
         margin-top: 30px;
         margin-bottom: 30px;
     }
     #newGameHeader {
         font-size: 8.5rem;
         font-weight: bold;
     }
     label {
         font-size: 3rem;
         font-weight: bold;
     }
     .form-control {
         font-size: 3rem;
         height: 60px;
     }
     /******************/
     /* Game Dashboard */
     /******************/
     #gameTitle, #playersHeader {
         font-size: 5rem;
         font-weight: bold;
     }
     #gameDescription {
         font-size: 3.5rem;
     }
     #beerCalculator, #takeTurn, #gameOver {
         font-size: 1.5rem;
         padding: 15px;
         font-weight: bold;
         margin-top: 15px;
         margin-left: -15px;
     }
     #addPlayerBtn, #playerDelete, #beerDone {
         font-size: 1.5rem;
         padding: 15px;
         font-weight: bold;
     }
     /******************/
     /* Turn Dashboard */
     /******************/
     #turnHeader {
         font-size: 9rem;
         font-weight: bold;
     }
     #commonalitiesBtn, #quoteBtn, #theCountBtn {
         font-size: 2.5rem;
         padding: 30px;
         font-weight: bold;
         margin-top: 40px;
         text-align: center;
     }
     /********************/
     /* Commonality Page */
     /********************/
     #commonalityHeader {
         font-size: 5rem;
         font-weight: bolder;
         margin-bottom: 70px;
     }
     #commonalityShow {
         font-weight: bold;
         font-size: 2.5rem;
         padding: 25px;
         margin-top: 40px;
         margin-bottom: 45px;
     }
     #commonalityDashboard {
         font-weight: bold;
         font-size: 2.5rem;
         padding: 25px;
         margin-top: 40px;
         margin-bottom: 60px;
     }
     #commonality1, #commonality2, #commonalityAnswer {
         font-size: 2.5rem;
     }
     /**************/
     /* Quote Page */
     /**************/
     #quoteHeader {
         font-size: 7rem;
         font-weight: bolder;
         margin-bottom: 70px;
     }
     #quoteAnswer {
         font-weight: bold;
         font-size: 2.5rem;
         padding: 25px;
         margin-top: 40px;
         margin-bottom: 45px;
     }
     #quoteDashboard {
         font-weight: bold;
         font-size: 2.5rem;
         padding: 25px;
         margin-top: 40px;
         margin-bottom: 60px;
     }
     #firstHalf, #secondHalf {
         font-size: 2.5rem;
     }
     /******************/
     /* The Count Page */
     /******************/
     #countNumber {
         font-size: 30rem;
         margin-top: 75px;
     }
     #countDashboard {
         font-weight: bold;
         font-size: 2.5rem;
         padding: 25px;
         margin-top: 40px;
         margin-bottom: 60px;
     }
     /**************/
     /* About Page */
     /**************/
     #aboutHeader {
         font-size: 16rem;
         font-weight: bold;
     }
     .devName {
         font-size: 5rem;
         margin-top: 25px;
         font-weight: bold;
     }
     #theDevelopers, #theGame {
         font-size: 7rem;
         font-weight: bold;
     }
     #theDevelopers {
         margin-bottom: 25px;
     }
     .devText, #gameAboutText, #sourceCode {
         font-size: 2rem;
     }
     #sourceCode {
         font-weight: bold;
         font-size: 3rem;
     }
     .devIcon {
         word-spacing: 30px;
         font-size: 4rem;
         margin-bottom: 40px;
     }
     #sourceCodeIcon {
         font-size: 6rem;
     }
 }
 /*******************/
 /*******************/
 /* ALL SCREEN SIZES*/
 /*******************/
 /*******************/
 /*------------------*/
 /*******************/
 /* Homepage styles */
 /*******************/
 
 * {
     border-radius: 0px;
     box-shadow: none;
 }
 
 .well {
     border-radius: 0px;
 }
 
 body {
     font-family: Josefin Sans, sans-serif;
 }
 
 .btn {
     border: none;
     border-radius: 0px;
 }
 
 .navbar-default {
     background-color: #3BB1F7;
     width: 100%;
 }
 
 .navbar-default .navbar-brand {
     color: white;
 }
 
 .navbar-default .navbar-nav>li>a {
     color: white;
 }
 
 .navbar-default .navbar-brand:hover {
     color: #E8E8E8;
 }
 
 .navbar-default .navbar-nav>li>a:hover {
     color: #E8E8E8;
 }
 
 #homeHeader1 {
     color: #FF6A68;
     font-weight: bolder;
     margin-bottom: 0px;
     padding-bottom: 0px;
 }
 
 #homeHeader2 {
     color: #3BB1F7;
     font-weight: bolder;
     margin-top: 0px;
     padding-top: 0px;
 }
 
 .howToText {
     color: #777;
 }
 
 #howToHeader {
     color: #FF6A68;
 }
 
 .howToIcon {
     color: #3BB1F7;
 }
 
 #copyrightDiv {
     margin-left: 60px;
     margin-top: 80px;
     margin-bottom: 15px;
     /*position: fixed;*/
     bottom: 0;
     width: 100%;
 }
 
 #rulesLink {
     color: #777;
 }
 
 #rulesLink:hover, #rulesLink:active {
     color: #777;
     text-decoration: none;
     font-weight: bold;
 }
 /**************/
 /* Rules Page */
 /**************/
 
 #rulesHeader {
     color: #FF6A68;
 }
 
 #rulesHeaderSmall, #sourceLink {
     color: #3BB1F7;
 }
 
 #sourceLink:hover, #sourceLink:active {
     color: #3BB1F7;
     text-decoration: none;
     font-weight: bold;
 }
 
 #rulesSummary, .rulesText {
     color: #777;
 }
 
 .rulesText strong {
     color: #3BB1F7;
 }
 
 .rulesSectionHead {
     color: #FF6A68;
     font-weight: bold;
 }
 /****************/
 /* Profile Page */
 /****************/
 
 #gameLink {
     color: black;
 }
 
 #gameLink:hover, #gameLink:active {
     text-decoration: none;
     font-weight: bold;
 }
 
 #gamesCreator, #gamesPlayer {
     color: #3BB1F7;
     font-weight: bold;
 }
 /************/
 /* partials */
 /************/
 
 #signUpOr, #logInOr {
     margin-top: 15px;
     margin-bottom: 15px;
 }
 
 .modal-title {
     font-weight: bolder;
     color: #FF6A68;
 }
 
 .formButton, #signUpButton, #signInButton, #playerAdd {
     background-color: #FF6A68;
     color: white;
     font-size: 1.5rem;
     padding: 10px;
     font-weight: bold;
 }
 /************/
 /* New Game */
 /************/
 
 #createGameBtn {
     background-color: #FF6A68;
 }
 
 #newGameHeader {
     color: #FF6A68;
 }
 
 label {
     color: #3BB1F7;
 }
 /******************/
 /* Game Dashboard */
 /******************/
 
 #gameTitle, #playersHeader {
     color: #FF6A68;
 }
 
 #gameDescription {
     color: #3BB1F7;
 }
 
 #beerModalText {
     font-size: 2rem;
 }
 
 #playerCount {
     color: #777;
 }
 
 #beerCalculator, #takeTurn, #beerDone, #addPlayerBtn {
     background-color: #3BB1F7;
     color: white;
 }
 
 #gameOver, #playerDelete {
     background-color: #FF6A68;
     color: white;
 }
 
 #beerCalculator a, #takeTurn a, #gameOver a, #beerCalculator a:hover, #beerCalculator a:active, #takeTurn a:hover, #takeTurn a:active, #gameOver a:hover, #gameOver a:active, #addPlayerBtn a, #addPlayerBtn a:hover, #addPlayerBtn a:active {
     color: white;
     text-decoration: none;
 }
 /******************/
 /* Turn Dashboard */
 /******************/
 
 #turnHeader {
     color: #FF6A68;
 }
 
 #commonalitiesBtn, #quoteBtn, #theCountBtn {
     background-color: #3BB1F7;
 }
 
 #commonalitiesBtn a, #commonalitiesBtn a:hover, #commonalitiesBtn a:active, #quoteBtn a, #quoteBtn a:hover, #quoteBtn a:active, #theCountBtn a, #theCountBtn a:hover, #theCountBtn a:active {
     color: white;
     text-decoration: none;
 }
 /********************/
 /* Commonality Page */
 /********************/
 
 #commonalityHeader {
     color: #FF6A68;
 }
 
 #commonalityShow, #commonalityDashboard, #commonalityShow a, #commonalityShow a:hover, #commonalityShow a:active, #commonalityDashboard a, #commonalityDashboard a:hover, #commonalityDashboard a:active {
     background-color: #3BB1F7;
     color: white;
     text-decoration: none;
 }
 /*************/
 /* Quote Page */
 /**************/
 
 #quoteHeader {
     color: #FF6A68;
 }
 
 #quoteAnswer, #quoteDashboard, #quoteAnswer a, #quoteAnswer a:hover, #quoteAnswer a:active, #quoteDashboard a, #quoteDashboard a:hover, #quoteDashboard a:active {
     background-color: #3BB1F7;
     color: white;
     text-decoration: none;
 }
 /******************/
 /* The Count Page */
 /******************/
 
 #countNumber {
     color: #FF6A68;
 }
 
 #countDashboard, #countDashboard a, #countDashboard a:hover, #countDashboard a:active {
     background-color: #3BB1F7;
     color: white;
     text-decoration: none;
 }
 /***************/
 /* Error Pages */
 /***************/
 
 #errorHeader1 {
     color: #FF6A68;
     font-size: 15rem;
     font-weight: bold;
     margin-top: 30px;
 }
 
 #errorHeader2 {
     color: #3BB1F7;
     font-size: 6rem;
     font-weight: bold;
 }
 
 #errorText {
     color: #777;
     font-size: 1.75rem;
 }
 /**************/
 /* About Page */
 /**************/
 
 .devPic {
     max-width: 300px;
 }
 
 #aboutHeader, .devIcon a, .devIcon a:hover, .devIcon a:active, #sourceCodeIcon a, #sourceCodeIcon a:hover, #sourceCodeIcon a:active {
     color: #FF6A68;
 }
 
 #theDevelopers, #theGame, #sourceCode, .devName {
     color: #3BB1F7;
 }
 
 .devText, #gameAboutText {
     color: #777;
 }